h2{
    margin: 1rem 0;
}
.question-container {
    text-align: center;
}
.question-options button {
    display: inline-block;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    margin: 1rem 0;
    width: 46%;
    margin: .5rem 2%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: .2rem;
}

.select {
    background: green;
    color: #fff;
}
.wrong {
    background: crimson;
    color: #fff;
}
.bootom-btns {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}
.bootom-btns .btm-btn {
    padding: .5rem 5rem;
}
