.question-options button {
    display: inline-block;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    margin: 1rem 0;
    width: 40%;
    margin: 1rem .5rem;
}

.select {
    background: green;
    color: #fff;
}
.wrong {
    background: crimson;
    color: #fff;
}