h2{
    margin: 1rem 0;
}
.question-container {
    text-align: center;
}
.question-options button {
    display: inline-block;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    margin: 1rem 0;
    width: 46%;
    margin: .5rem 2%;
}

.select {
    background: green;
    color: #fff;
}
.wrong {
    background: crimson;
    color: #fff;
}
.bootom-btns {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}
